data/HyperNeRF/*
data/NeRF-DS/*
data/Neu3D/*
data/immersive/*
data/technicolor/*

!data/HyperNeRF/download_dataset.bash
!data/NeRF-DS/download_dataset.bash
!data/Neu3D/download_dataset.bash
!data/immersive/download_dataset.bash

!data/Neu3D/download_precomputed_poses.bash
!data/immersive/download_precomputed_poses.bash
!data/technicolor/download_precomputed_poses.bash
sadg_example_models
Mask-Benchmark
output/
outputs/
cluster_renders/
test/
qualitative_results
assets/demos/*
submodules/diff-gaussian-rasterization/build
submodules/simple-knn/build
# Local History for Visual Studio Code
.history/
log/
dependency/sam_vit_h_4b8939.pth
## Python 
__pycache__/
## vscode
.vscode/
implementation_docs/
memory/